.section-contact {
    @include media(xl) {
        grid-template-columns: 1fr 1fr;
    }
}

.contact-box {
    letter-spacing: 1px;
    margin: 3vh 0;

    @include media(s) {
        letter-spacing: 2px;
    }

    &:nth-child(3) {
        @include media(xl) {
            grid-area: 2/2/4/2;
        }
    }

    &:nth-child(4) {
        @include media(xl) {
            grid-area: 3/1/4/1;
        }
    }

    &:last-child {
        @include media(xl) {
            grid-area: 4/1/5/-1;
        }
    }

    &__title {
        padding: 1.6vh 0 3.2vh 0;

        @include media(s) {
            padding-top: 3vh;
        }
    }


    &__subtitle {
        padding: 1vh 0;
    }

    &__description {
        white-space: pre-line;
    }

    &__logo {
        :hover {
            transform: scale(1.3);
            color: var(--color-main);
        }

        & span {
            color: white;
            font-size: 2rem;
            margin: 0 3vw;
            letter-spacing: 0;



            @include media(m) {
                font-size: 3rem;
            }

            @include media(l) {
                font-size: 4rem;
            }
        }

    }

    &__slogan {
        font-family: 'Beach Resort';
        font-size: 2rem;
        color: var(--color-slogan);
        margin-bottom: 2vh;
        line-height: var(--head-height) /2;

        @include media(s) {
            margin-bottom: 6vh;
        }

        @include media(m) {
            font-size: 3rem;
        }

        @include media(xl) {
            font-size: 5rem;
        }
    }
}