.offer {
    display: flex;
    text-align: right;
    margin-top: 20px;
    flex-wrap: wrap;

    &:last-child {
        margin-bottom: 20px;
    }

    &__image {
        width: 90%;
        padding-right: 10vw;
    }

    &__subtitle {
        width: 100%;
        text-align: right;
        padding-right: 10vw;
        padding-top: 15px;
        padding-bottom: 10px;
        color: $color-slogan;
        font-size: 16px;
    }

    &__description {
        padding-right: 10vw;
        padding-left: 13vh;
    }

    &:nth-child(3) &__subtitle,
    &:nth-child(3) &__image,
    &:nth-child(3) &__description {
        text-align: left;
        padding-right: 0;
        padding-left: 10vw;
    }

    &:nth-child(3) &__description {
        padding-right: 13vh;
    }
}