.offer {
    display: flex;
    text-align: right;
    margin-top: 3vh;
    flex-wrap: wrap;

    &:last-child {
        margin-bottom: 8vh;
    }

    &__image {
        width: 90%;

        @include media(s) {
            width: 80%;
            margin-top: 6vh;
        }
    }

    &__subtitle {
        width: 90%;
        text-align: right;
        // padding-right: 10vw;
        padding-top: 2.5vh;
        padding-bottom: 1.8vh;
        color: var(--color-slogan);
        font-size: 1.1rem;

        @include media(s) {
            width: 80%;
            padding-top: 6vh;
            padding-bottom: 3vh;
        }

        @include media(m) {
            font-size: 2.4rem;
        }
    }

    &__description {
        width: 90%;
        padding-left: 18vh;

        @include media(s) {
            width: 80%;
        }
    }

    &:nth-child(3) &__subtitle,
    &:nth-child(3) &__description {
        text-align: left;
        padding-right: 18vh;
        padding-left: 0;

        @include media(s) {
            width: 80%;
        }

    }

    &:nth-child(3) {
        justify-content: flex-end;
    }
}