.section-start {
    grid-template-rows: 2fr 1.5fr 1fr;
    max-height: 100vh;


    &__slogan {
        font-family: 'Beach Resort';
        align-self: flex-end;
        padding-bottom: 10px;
        font-size: 3.8rem;
        letter-spacing: 5px;
        text-transform: uppercase;

        @include media(m) {
            font-size: 7rem;
            letter-spacing: 8px;
        }

        @include media(l) {
            font-size: 6rem;
            letter-spacing: 10px;
        }

        @include media(xl) {
            font-size: 10rem;
            letter-spacing: 20px;
        }

        &-smaller {

            @include media(s) {
                padding-top: 7vh;
            }

            @include media(m) {
                padding-top: 0;
                padding-bottom: 5vh;
            }
        }
    }

    &__logo__element {
        border-radius: 50%;
        border: 5px solid black;
        opacity: 0.8;
        display: none;
        cursor: pointer;

        &.visible {
            z-index: 0;
            display: inline;
        }
    }
}