@font-face {
    font-family: 'Beach Resort';
    src: url('~Assets/fonts/Beach_Resort/Beach_Resort.ttf') format('truetype');
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('~Assets/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('~Assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Higuen';
    src: url('~Assets/fonts/Higuen-Font/HiguenSerif.otf') format('opentype');
}

@font-face {
    font-family: 'BD Sans';
    src: url('~Assets/fonts/beautifully-delicious-font-family/BDSans-Regular.otf') format('opentype');
}

h1 {
    z-index: 1;
    font-family: 'Higuen';
    font-size: 3rem;
    line-height: calc(var(--head-height) - 15px);
    text-align: center;
    cursor: default;

    @include media(m) {
        font-size: 4.5rem;
    }

    @include media(l) {
        font-size: 6rem;
    }
}

h2,
h3 {
    font-size: 1.5rem;
    cursor: default;

    @include media(s) {
        font-size: 1.8rem;
    }

    @include media(m) {
        font-size: 2.5rem;
    }

    @include media(l) {
        font-size: 3rem;
    }
}

h2 {
    font-family: var(--main-ff);
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: 'BD Sans';
}

p {
    font-family: var(--main-ff);

    @include media(s) {
        font-size: 1.1rem;
    }

    @include media(m) {
        font-size: 2rem;
    }

    @include media(l) {
        font-size: 2.2rem;
    }
}