@font-face {
    font-family: 'beachResort';
    src: url(../../assets/fonts/Beach_Resort/Beach_Resort.ttf) format('truetype');
}

@font-face {
    font-family: 'cormorantGaramond';
    src: url(../../assets/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'cormorantGaramondBold';
    src: url(../../assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'higuen';
    src: url(../../assets/fonts/Higuen-Font/Higuen/Serif.otf) format('opentype');
}

@font-face {
    font-family: 'bd';
    src: url(../../assets/fonts/beautifully-delicious-font-family/BDSans-Regular.otf) format('opentype');
}