    :root {
        --main-ff: 'Cormorant Garamond';
        --head-height: 16vh;
        --foot-height: 5vh;
        --marginY: 1vw;
        --marginX: 2vw;
        --iconX: 7vw;
        --rowHead: calc(var(--head-height) + var(--marginY));
        --navTop: calc(var(--rowHead) / 2);
        --color-main: #dbb030;
        --color-black: #000;
        --color-slogan: #40ffb5;
        --colorLight-slogan: hsl(157, 85%, 60%);
    }

    @include media(s) {
        :root {
            --head-height: 24vh;
            --foot-height: 7.5vh;
            --marginY: 2vw;
            --marginX: 4vw;
            --iconX: 10.5vw;
            --rowHead: calc(var(--head-height) + var(--marginY));
            --navTop: calc(var(--rowHead) / 2);
        }

        @include media(m) {
            :root {
                --head-height: 19vh;
                --marginY: 3vw;
                --marginX: 6vw;
                --iconX: 12.5vw;
            }
        }

        @include media(l) {
            :root {
                --head-height: 18vh;
                --width-main: 71vw;
                --width-secondary: 25vw;
                --marginY: 1vw;
                --marginX: 2vw;
            }
        }
    }