.container {
    background-color: #000;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.contact-box {
    width: 80%;
    text-align: center;

    &__slogan {
        font-family: 'cormorantGaramond';
        text-transform: uppercase;
        padding-top: 10px;
    }

    &__other-slogan {
        padding-bottom: 20px;
    }

    &__text {
        text-transform: none;
        font-size: 18px;
        padding-bottom: 30px;
    }

    &__logo {
        color: white;
        font-size: 25px;
        padding: 10px;
    }

    &__ban {
        font-family: 'beachResort';
        font-size: 28px;
        color: $slogan-color;
        padding: 50px 0;
        margin-bottom: 20px;
    }
}