.footer {
    position: relative;
    height: var(--foot-height);
    line-height: var(--foot-height);
    background-color: #000;
    text-align: right;

    &__container {
        position: absolute;
        bottom: var(--marginY);
        left: var(--marginX);
        right: var(--marginX);
        background-color: #222;
        border-radius: 5px;
    }

    &__text {
        text-decoration: none;
        color: white;
        padding-right: calc(var(--iconX) / 2);
    }
}