.s-gallery {
    background-color: $color-main;
}

.gallery-slogan {
    color: $slogan-colorLight;
}

.gallery-box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;

    &__image {
        border-radius: 5px;
    }

    &__slogan {
        width: 100%;
        padding-top: 20px;
    }
}