.navigation-icon {
    position: fixed;
    top: $navTop;
    right: 7vw;
    transform: translateY(-50%);
    background: -webkit-linear-gradient(45deg, black 0%, black 33.332%, $color-main 33.333%, $color-main 66.665%, black 66.666%, black 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    display: none;
    z-index: 12;

    &:last-child {
        background: -webkit-linear-gradient(135deg, black 0%, black 46.332%, $color-main 46.333%, $color-main 52.665%, black 52.666%, black 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.visible {
        display: inline;
    }
}