.section {
    $c: &;
    min-height: 100vh;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: var(--rowHead);
    justify-items: center;

    @include media(l) {
        width: var(--width-main);
        margin: var(--marginY) var(--marginX) 0 auto;
        border-radius: 10px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
    }



    &__title {
        grid-area: 1/1/1/-1;
        color: var(--color-main);
        letter-spacing: 2px;
        -webkit-text-stroke: 1.5px var(--colorLight-slogan);

        @include media(s) {
            letter-spacing: 4px;
        }

        &.color {
            z-index: 10000;
        }
    }

    &.section-dark {
        background-color: var(--color-black);
        color: white;



        & #{$c}__title {
            color: black;
            -webkit-text-stroke: 1px var(--colorLight-slogan);
        }
    }

}