.section {
    background-color: $color-main;
    width: 100%;
    min-height: 100vh;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: $rowHead;
    justify-items: center;


    &__title {
        grid-area: 1;
        margin-top: $head-marginTop;
        // color: $colorLight-slogan;
        color: black;
        letter-spacing: 2px;
        -webkit-text-stroke: 1px $colorLight-slogan;
    }

    &-opinion h1 {
        line-height: calc(#{$head-height} / 1.8 - 10px);
    }

    &-start__slogan {
        font-family: 'Beach Resort';
    }

    &-contact__slogan {
        color: $color-slogan;
        line-height: $head-height /2;
    }

    &.section-dark {
        background-color: $color-secondary;
        color: white
    }

}